### RULE front-cores
FREQ_HZ=2.1e9
CORES="0 2 4 6 8"
CONTROL_KIND=PERF_CTL
CPUFREQ_SYNC=1

### RULE back-cores
FREQ_HZ=1.6e9
CORES="1 3 5 7 9"
CONTROL_KIND=PERF_CTL
CPUFREQ_SYNC=1

### RULE housekeeping
FREQ_HZ=1.2e9
CORES="10 11"
CONTROL_KIND=PERF_CTL
CPUFREQ_SYNC=1
